{{ define "main" }}
<section>
<h1>
<center>
  {{ .Title }}
</center>
</h1>
<aside>
  <time>
      {{ .Date.Format (.Site.Params.dateFormat | default "Jan 2, 2006" ) }}
  </time> · <span>{{ .ReadingTime}} min read</span>
</aside>
<article>
{{ .Content | replaceRE "(<h[1-6]\\sid=\"([^\"]+)\"\\s?>)(.+)(</h[1-6]+>)" "${1}${3}<a href=\"#${2}\">#</a>${4}" | safeHTML }}
{{ $tags := .GetTerms "tags" }}
{{ if $tags }}
  <p>
    <strong>tags:</strong>
      {{ range $tags }}
          <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
      {{ end }}
  </p>
{{ end }}
</article>
</section>
{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<hr />
<section>
  <h2>
    related:
  </h2>
  <ul class="posts">
      {{ range . }}
      <li>•<a href="{{ .RelPermalink }}">{{ .Title }} </a>
          <time>
            {{ if ge .Date.Year now.Year }} {{ .Date.Format "Jan 2" }} {{ else }} {{
              .Date.Format "Jan 2, 2006" }} {{ end }}
          </time>
      </li>
      {{ end }}
  </ul>
</section>
{{ end }}
{{ end }}
