<style>
  :root {
    --mobile-width: 720px;
    --desktop-width: 900px;
    --font-family: Verdana, sans-serif;
    --line-height: 1.5;
    --heading-font-size: 2.4rem;
    --primary-background-color: #fafafa;
    --secondary-background-color: #f5f5f5;
    --additional-background-color: #e5e5e5;
    --line-color: #e5e5e5;
    --line: 0 1px var(--line-color);
    --primary-text-color: #333;
    --secondary-text-color: #555;
    --nav-bar-height: 64px;
    --nav-bar-background: rgba(250, 250, 250, 0.75);
    --nav-bar-box-shadow: 0px 1px 3px #00000025;
    --link-color: #0070c9;
    --code-block-color: #333;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --primary-background-color: #15202b;
      --secondary-background-color: #00000095;
      --additional-background-color: #00000095;
      --line-color: #737373;
      --line: 0 0.25px var(--line-color);
      --primary-text-color: #e5e5e5;
      --secondary-text-color: #d4d4d4;
      --nav-bar-background: rgb(21, 32, 43, 0.75);
      --nav-bar-box-shadow: 0 0.25px var(--line-color);
      --code-block-color: #00000095;
      --link-color: #66b2ff;
    }
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }

  body {
    margin: 0 24px 24px;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-size: 1.6rem;
    font-family: var(--font-family);
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: var(--line-height);
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--nav-bar-background);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    z-index: 100;
  }
  nav {
    margin: auto;
    height: var(--nav-bar-height);
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    font-size: var(--heading-font-size);
    box-shadow: var(--nav-bar-box-shadow);
  }
  nav a {
    text-decoration: none;
  }

  nav a.active {
    text-decoration: underline;
  }

  nav a.active:hover {
    color: var(--primary-text-color);
    cursor: default;
  }

  main {
    max-width: var(--mobile-width);
    margin: 80px auto 0px;
  }

  .heading {
    margin-bottom: 8px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-family);
    color: var(--primary-text-color);
  }
  a {
    color: var(--primary-text-color);
    text-decoration: none;
    text-underline-offset: 4px;
  }
  a:hover {
    color: var(--link-color);
    text-decoration: underline;
  }

  sup {
    vertical-align: super;
    font-size: smaller;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  td,
  th {
    border: 1px solid var(--line-color);
    padding: 8px 16px;
  }

  th {
    font-weight: bold;
    border-bottom-width: 2px;
  }

  hr {
    height: 5px;
    border: 0;
    box-shadow: var(--line);
    margin: 16px auto;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
  }

  ol {
    list-style-type: decimal;
    list-style-position: inside;
  }
  blockquote {
    border-left: 4px solid var(--secondary-text-color);
    overflow: hidden;
    padding: 8px 16px;

    color: var(--additional-text-color);
    background-color: var(--additional-background-color);
    page-break-inside: avoid;
    font-size: 1.5rem;
  }

  pre {
    max-width: 100%;
    display: block;
    background: var(--additional-background-color);
    font-size: 1.5rem;
    white-space: pre;
    word-wrap: break-word;
    overflow: auto;
    page-break-inside: avoid;
    padding: 8px 16px;
  }

  code {
    background-color: var(--additional-background-color);
    padding: 2px;
  }

  pre code {
    background-color: transparent;
    padding: 0;
  }

  .highlight pre {
    background-color: var(--code-block-color) !important;
  }

  img {
    max-width: 100%;
  }
  .footnotes hr {
    width: 100%;
  } /*  List  */
  .posts {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .posts li {
    display: flex;
    align-items: center center;
    gap: 8px;
  }

  .posts a {
    flex: 1;
  }
  time,
  .info {
    color: var(--secondary-text-color);
  }

  /*  Post  */
  .post {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .post div {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .post div a {
    color: var(--link-color);
  }

  /*  Related  */
  .related h3 {
    margin-bottom: 8px;
  }

  /*  Tag  */
  .tag {
    color: var(--link-color);
    text-decoration: none;
  }

  @media (min-width: 1200px) {
    :root {
      --nav-bar-box-shadow: 1px 0 var(--line-color);
    }
    @media (prefers-color-scheme: dark) {
      :root {
        --nav-bar-box-shadow: 0.25px 0 var(--line-color);
      }
    }
    body {
      margin: 0 auto 24px;
      max-width: var(--desktop-width);
    }
    header {
      width: calc(var(--desktop-width) - var(--mobile-width) - 32px);
      top: initial;
      left: initial;
      right: initial;
    }
    nav {
      height: 100%;
      flex-direction: column;
      align-items: flex-end;
      padding-right: 32px;
      gap: 8px;
    }
    main {
      margin: 32px 0 0 auto;
    }
  }
</style>
